@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'Jost', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: #000000; /* Change to a different color */
}

.neon-glow {
  box-shadow: 0 0 10px #2596BE, 0 0 20px #2596BE, 0 0 30px #2596BE;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }

}


.animate-scroll {
  animation: scroll 30s linear infinite;
}

.pause-scroll {
  animation-play-state: paused;
}

html, body {
  scroll-behavior: smooth;
  overscroll-behavior-y: contain; 
}

.scroll-container {
  scroll-snap-type: y mandatory; 
}

.scroll-section {
  scroll-snap-align: start; 
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #00aaff; /* Your thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #007acc; /* Darker on hover */
}

::-webkit-scrollbar-track {
  background: none; /* Set no background */
  background-color: transparent; /* Ensure transparency */
  border: none; /* Remove any default border */
  box-shadow: none; /* Remove any shadow that may appear */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00aaff transparent; /* Transparent track with colored thumb */
}
