@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Jost', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: #000000; 
}




.shadow-left-gradient {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.shadow-right-gradient {
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* Scrolling animation for testimonial cards */
@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0); 
  }
}

/* Animate the scroll of the testimonials */
.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Pause scrolling when hovered */
.pause-scroll {
  animation-play-state: paused;
}

/* Customize scrollbar for Webkit browsers (optional, if needed) */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: black; /* Or any custom color */
}
::-webkit-scrollbar-thumb {
  background-color: #2596BE; /* Scrollbar thumb color */
  border-radius: 20px;
  border: 3px solid transparent; /* Adds some padding */
}
