@font-face {
  font-family: "Jost";
  src: url("/fonts/jost/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/jost/Jost-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/jost/Jost-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/jost/Jost-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Add other weights as needed */
@font-face {
  font-family: "JostVariable";
  src: url("/fonts/jost/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "JostVariable";
  src: url("/fonts/jost/Jost-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
